<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>浏览器兼容性自动化测试平台</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="/static/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/bootstrap-table/bootstrap-table.min.css">
    <link href="/static/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <style>
        body {
            padding-top: 70px;
        }

        #iframePage {
            width: 100%;
            height: 600px;
        }

        .input-group {
            margin-bottom: 3px;
        }

        span.label.label-primary {
            margin-top: 6px;
        }

        .table td {
            text-align: center;
        }
    </style>
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">浏览器兼容性自动化测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">添加测试</a></li>
                <li ><a href="#">任务管理</a></li>
                <li><a href="/report">查看报告</a></li>
                <li><a href="/doc">使用说明</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin">Admin</a></li>
                <li><a href="../navbar-static-top/"></a></li>
                <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-lg-6">
            <div class="row-lg-4">
                <span class="label label-primary">URL</span>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Input URL to load page" id="urlInput">
                    <span class="input-group-btn"><button class="btn btn-default" type="button" id="urlBtn">Go!</button></span>
                </div><!-- /input-group -->
            </div>
            <div class="row-lg-4">
                <span class="label label-primary">Cookie</span>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Input Cookie String" id="cookieInput">
                    <span class="input-group-btn"><button class="btn btn-default" type="button"
                                                          id="cookieBtn">OK!</button></span>
                </div><!-- /input-group -->
            </div>
            <div class="row-lg-4" style="min-height: 600px">
                <span class="label label-primary">Page</span>
                <iframe id="iframePage" src=""></iframe>
            </div>
        </div>

        <div class="col-lg-6">
            <span class="label label-primary">增加Actioin</span>
            <div class="row">
                <div class="row-lg-6">
                    <div class="col-lg-8">
                        <div class="input-group">
                            <span class="input-group-addon">Xpath</span>
                            <input type="text" class="form-control" placeholder="Click in frame then edit if need"
                                   id="actionXpathInput">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">Type</span>
                            <select class="selectpicker" id="actionTypeSelect">
                                <option value="clear">clear</option>
                                <option value="click">click</option>
                                <option value="sentkey">sentkey</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="row-lg-6">
                    <div class="col-lg-8">
                        <div class="input-group">
                            <span class="input-group-addon">Data Input</span>
                            <input type="text" class="form-control" placeholder="Data you want sentkey"
                                   id="actionDataInput">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="btn-group">
                            <button type="button" class="btn btn-md btn-primary btn-block" id="addActionBtn">Add to
                                action list
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <span class="label label-primary">增加Check</span>
            <div class="row">
                <div class="row-lg-6">
                    <div class="col-lg-8">
                        <div class="input-group">
                            <span class="input-group-addon">Xpath</span>
                            <input type="text" class="form-control" placeholder="Click in frame then edit if need"
                                   id="checkXpathInput">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">Type</span>
                            <select class="selectpicker" id="checkTypeSelect">
                                <option value="expectedText">expectedText</option>
                                <option value="expectedUrl">expectedUrl</option>
                                <option value="printScreen">printScreen</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row-lg-6">
                    <div class="col-lg-8">
                        <div class="input-group">
                            <span class="input-group-addon">Ext Data</span>
                            <input type="text" class="form-control" placeholder="URL or Text excepted"
                                   id="checkDataInput">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="btn-group">
                            <button type="button" class="btn btn-md btn-primary btn-block" id="addCheckBtn">Add to check
                                list
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <span class="label label-primary">用例基本信息</span>
            <div class="row">
                <div class="row-lg-3">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">Name</span>
                            <input type="text" class="form-control" placeholder="Case Name" id="caseNameInput">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">Browsers</span>
                            <select class="selectpicker" multiple id="browsersSelect">
                                <option selected value="chrome">Chrome</option>
                                <option selected value="firefox">Firefox</option>
                                <option selected value="opera">Opera</option>
                                <option selected value="ie">IE</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row-lg-3">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">BrowserHighWidth</span>
                            <select class="selectpicker"
                                    id="browserHighWidthSelect" multiple multiple data-selected-text-format="count > 2">
                                <option value="800x600">800x600</option>
                                <option value="1024x768">1024x768</option>
                                <option value="1366x768" selected>1366x768</option>
                                <option value="1280x720">1280x720</option>
                                <option value="1920x1080">1920x1080</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">ScreenResolution</span>
                            <select class="selectpicker"
                                    id="screenResolutionSelect">
                                <option value="800x600">800x600</option>
                                <option value="1024x768">1024x768</option>
                                <option value="1366x768" selected>1366x768</option>
                                <option value="1280x720">1280x720</option>
                                <option value="1920x1080">1920x1080</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row-lg-3">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">WindowScrollX</span>
                            <input type="text" class="form-control" placeholder="X" id="windowScrollXInput" value="0">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">WindowScrollY</span>
                            <input type="text" class="form-control" placeholder="Y" id="windowScrollYInput" value="0">
                        </div>
                    </div>
                </div>
                <div class="row-lg-3">
                    <div class="col-lg-12">
                        <div class="btn-group" style="width: 100%">
                            <button type="button" class="btn btn-md btn-primary btn-block" style="width: 100%"
                                    id="addCaseBtn">Add to
                                case list
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <span class="label label-primary">用例列表</span>
            <div class="row">
                <table class="table table-bordered table-striped" id="caseList">
                    <col width="45%"/>
                    <col width="45%"/>
                    <col width="10%"/>
                    <thead>
                    <tr>
                        <th data-field="name">Name</th>
                        <th data-field="url">Url</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <span class="label label-primary">当前用例Action列表</span>
            <div class="row">
                <table class="table table-bordered table-striped" id="actionList">
                    <col width="30%"/>
                    <col width="30%"/>
                    <col width="30%"/>
                    <col width="10%"/>
                    <thead>
                    <tr>
                        <th>Xpath</th>
                        <th>Type</th>
                        <th>Data</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <span class="label label-primary">当前用Check列表</span>
            <div class="row">
                <table class="table table-bordered table-striped" id="checkList">
                    <col width="30%"/>
                    <col width="30%"/>
                    <col width="30%"/>
                    <col width="10%"/>
                    <thead>
                    <tr>
                        <th>Xpath</th>
                        <th>Type</th>
                        <th>Data</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-12" id="submitMsg">
                </div>
                <div class="col-lg-12">
                    <div class="btn-group" style="width: 100%">
                        <button type="button" class="btn btn-md btn-primary btn-block" style="width: 100%"
                                id="submitBtn">Submit test post
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/static/bootstrap-table/bootstrap-table.min.js"></script>
<!-- (Optional) Latest compiled and minified JavaScript translation files -->
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>#}
<script src="/static/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="/static/dashboard.js"></script>
</body>
</html>
